<html>
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="/scripts/jsmpeg.min.js"></script>
		<script type="text/javascript" src="/scripts/socket.io.js"> </script>
		<script type="text/javascript" src="/scripts/fhd.js"> </script>

		<meta="viewport" content="width=device=width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title> Oiej to Stream (lookuper) </title>

		<link href="/static/normalize.css" rel="stylesheet">
		<link href="/static/fhd.css" rel="stylesheet">

	</head>
	<body>
		<div id="desktop-box" class="desktop-box"> </div>
		<div id="camera-box" class="camera-box"> </div>
		<div class="right" id="right-div">
			<center class="select-title"> Select a team to lookup </center>
			<div class="grid-plane" id="grid-plane"> </div>
			<center class="full-name" id="full-name"> </center>
		</div>
	</body>
</html>
