<html>
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="/scripts/jsmpeg.min.js"></script>
		<script type="text/javascript" src="/scripts/socket.io.js"> </script>
		<script type="text/javascript" src="/scripts/main.js"> </script>

		<meta="viewport" content="width=device=width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title> Oiej to Stream (lookuper) </title>

		<link href="/static/normalize.css" rel="stylesheet">
		<link href="/static/style.css" rel="stylesheet">

	</head>
	<body>
		<div class="wrapper">
			<div class="left" id="left-div">
				<center class="selected-name" id="selected-name"> Oiej to Stream </center>
				<div id="lookups_wrapper" class="lookups_wrapper">
					<div id="desktop-box" class="desktop-box"> </div>
					<div id="camera-box" class="camera-box"> </div>
				</div>
			</div>
			
			<div class="right" id="right-div">
				<center class="select-title"> Select a team to lookup </center>
				<div class="grid-plane" id="grid-plane"> </div>
				<center class="full-name" id="full-name"> </center>
			</div>
		</div>
	</body>
</html>
